#loader {
    background-image: url(../../img.video/comm.jpg);
    display: none;
}

.comm{
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/* Video Container */
.comm .videoContainer{
    height: 100%;
    width: 70%;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    overflow-y: auto;
    position: relative;
}

video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes Grow {
    to{
        opacity: 1;
        transform: scale(1);
    }
}

video{
    width: 90%;
    /* transform: scale(0.1);
    opacity: 0;
    display: none;
    animation: Grow 0.5s ease-in-out forwards; */
}


.videoChoices{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.videoChoices .row{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    overflow: hidden;
}

.videoChoices figure{
    cursor: pointer;
    width: 50%;
}



.videoChoices figure img{
    height: 100%;
}


.row{
    height: fit-content;
}



.row section{
    width: 50%;
    align-self: flex-end;
}


.finalBtn{
    align-self: flex-end;
}

