.comm{
    overflow: auto;
    overflow-x: hidden;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/* Video Container */
.comm .videoContainer{
    height: 100%;
    background-color: violet;
    width: 70%;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

@keyframes Grow {
    to{
        opacity: 1;
        transform: scale(1);
    }
}

video{
    width: 90%;
    border-radius: 20px;
    /* transform: scale(0.1);
    opacity: 0;
    display: none;
    animation: Grow 0.5s ease-in-out forwards; */
}


.videoChoices{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.videoChoices .row{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    overflow: hidden;
    height: 200px;
}

.videoChoices figure{
    width: 50%;
    cursor: pointer;
}

.videoChoices figure img{
    height: 100%;
}

.videoChoices .row2{
    height: 400px;
}


.row section{
    width: 50%;
}





/* Notes Container */
.comm .notesContainer {
    height: 100%;
    background-color: #1e1e1e;
    width: 30%;
    color: white;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notesHeading{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.notesHeading img{
    width: 50px;
}

.notesHeading h2{
    align-self: flex-end;
    font-size: 16px;
}

#notesList{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.finalBtn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 16px 35px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    margin-inline: auto;
    background-color: #4D2465;
    transition: 0.2s ease;
    
}