.ecampusContainer{
    background-color: #F1F1F1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ecampusHeading{
    background-color: #4D2465;
    color: white;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Electrolize', sans-serif;
    font-size: 2rem;
    line-height: 1.3;
}

.ecampusHeading h2{
    font-size: 1.2rem;
    color: #e1a526;
    font-style: italic;
}

.ecampusGallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: fit-content;
    overflow: auto;
    width: 100%;
    padding: 40px 5%;
}

.ecampusGallery a{
    width: 30%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: white;
    height: 200px;
    text-align: center;
    transition: 0.3s ease;
}

.ecampusGallery a:hover{
    transform: scale(0.98);
}

.topSection{
    position: relative;
    height: 60%;
    background-color: gray;
}

.bottomSection{
    height: 40%;
    line-height: 1;
}

.profileGallery{
    display: flex;
    position: absolute;
    bottom: -25px;
    gap: 15px;
    height: 50px;
}

.profileGallery img{
    height: 100%;
    border-radius: 50%;
    width: 50px;
    object-fit: cover;
    border: 2px solid white;

}

.ecampusGallery a div{

    display: flex;
    align-items: center;
    justify-content: center;

}

.ecampusGallery .unclickable{
    filter: brightness(0.4);
    cursor: not-allowed;
}

.ecampusGallery .unclickable:hover{
    transform: scale(1);
}

#ecampusGuide {
    position: absolute;
    height: 90vh;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.937);
    z-index: 70;
    display: none;
}

.textContainer {
    position: absolute;
    background-color: #2f2f2f;
    color: white;
    
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    font-size: 1.5rem;
    
    display: none;
    opacity: 0;
    animation: fadeIn 0.3s ease-in forwards 0.3s;
    flex-direction: column;
    gap: 20px;
        width: 70%;
        
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}
.textContainer button{
    border: none;
    background-color: #4D2465;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: 0.2s ease-in;
    cursor: pointer;
    
}

.textContainer button:hover{
    filter: brightness(1.5);
}




/*New Class Name 1 in ecampusContainer*/
.Guide1 .ecampusGallery .guideBox{
    z-index: 71;
    transform: scale(1.1);
    transition: scale 0.5s ease-in;
}

.Guide1 .step1{
    display: flex;
    top: 30px;
    left: 39%;
    width: 50%;
}

.Guide2 .step2{
    display: flex;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.textContainer ul{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.Guide3 .step3 {
    display: flex;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.step3 ul{
    list-style: none;
}