@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-image: url(../img.video/fond-decran-Mac-modified.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
}

.bodyDesktop{
    background-image: url(../img.video/fond-decran-Mac.jpg);
}



*::before, *::after, *{
    box-sizing: border-box;
}

img{
    width: 100%;
    object-fit: cover;
    display: block;
}
a{
    text-decoration: none;
    color: black;
}


.homePageBody{
    display: flex;
}

header{
    width: 80px;
    background-color: #ffffff40;
    
    height: 100vh;
    padding: 10px 0;
}
.bodyDesktop header{
    backdrop-filter: blur(8px);
}

header nav{
    width: 100%;
    height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
}

header nav div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

header nav div a, header .divBtn {
    width: 100%;
    padding:  5px 10px;
    font-size: 2rem;
        cursor: pointer;
        transition: 0.2s ease;
        text-align: center;
}
header nav .nav_bottom{
    position: absolute;
    bottom: 10px;
    width: 100%;
}



header nav a:hover, header .divBtn:hover {
    background-color: #00000090;
    color: white;
}

header .current{
    background-color: #ffffffeb;
}

#noteLink{
    position: relative;
}

#noteNotif{
    position: absolute;
    top: -5px;
    right: 5px;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;

}
main{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/* Loader */

#loader {
    position: fixed;
    
    top: 0;
    left: 0;
    z-index: 999999;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img.video/brainstorming.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 100px;
        animation: Disapear 1.5s ease forwards 4s;
}
@keyframes Disapear {
    0% {
        opacity: 1;
        z-index: 99999;
    }

    50% {
        opacity: 0;
        z-index: 99999;
    }

    100%{
        z-index: -99;
        opacity: 0;
    }
}

.loaderContent{
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffd3;
    width: 50%;
    height: fit-content;
    justify-content: space-between;
    padding: 120px 50px;
    gap: 40px;
}

.loaderContent ul li{
    font-weight: bold;
    font-size: 1.2rem;
}

.loaderContent div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.loaderContent h2{
    color: black;
    text-align: center;
    font-size: 3rem;
    font-family: 'Electrolize', sans-serif;
}

.loaderContent p {
    color: black;
    text-align: center;
    font-size: 1.5rem;
}


.loadingBar{
    width: 75%;
    height: 10px;
    border-radius: 5px;
    border: 2px solid black;
    position: relative;
}

.loadingBar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 0%;
    height: 100%;
    animation: loadBar 4s ease-in-out forwards;
}

@keyframes loadBar {
    0%{
        width: 0%;
    }
    33%{
        width: 40%;
    }
        66% {
            width: 55%;
        }

        90% {
            width: 70%;
        }

                100% {
                    width: 100%;
                }
}



